<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- boostrap icon -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

    <!-- link css -->
    <link rel="stylesheet" href="/css/style.css">

    <!-- favicon -->
    <link rel="icon" href="/favicon.ico">

    <!-- google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=MuseoModerno:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">

    <!--titulo pag  -->
    <title>Catering</title>
</head>

<body>
    <header>
        <!-- GIF -->
        <div class="container-logo-span">
            <img class="logo" src="/images/icons/AstroBite.gif" alt="" height="70"><span class="logo-span">NeoBite
                BakeShop</span>
        </div>
        <button id="abrir" class="abrir-menu"><i class="bi-list"></i></button>
        <!-- barra navegacion -->
        <nav class="nav" id="nav">
            <button id="cerrar" class="cerrar-menu"><i class="bi bi-x"></i></button>
            <ul class="nav-list">
                <li><a href="/index.html">Inicio</a></li>
                <li><a href="/templates/menu.html">Menú</a></li>
                <li><a href="/templates/catering.html">Catering</a></li>
                <li><a href="/templates/contacto.html">Contacto</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section>
            <!-- slider background -->
            <div class="container-imag-background">
                <img class="c-b-i" src="/images/footage/catering_slider/catering_slider1.jpg" alt="catering-slider">
                <img class="c-b-i" src="/images/footage/catering_slider/catering_slider2.jpg" alt="catering-slider">
                <img class="c-b-i" src="/images/footage/catering_slider/catering_slider3.jpg" alt="catering-slider">
                <img class="c-b-i" src="/images/footage/catering_slider/catering_slider4.jpg" alt="catering-slider">
                <h1 class="heading">Sabores inimaginables</h1>
                <!-- Contenedor del botón "Menú" -->
                <div class="menu-button-container">
                    <a href="/templates/menu.html" class="menu-button">Menú</a>
                </div>
            </div>
        </section>
        <section>
            <div class="catering-container">
                <!-- <div class="catering-imagen">
                    <img src="/images/footage/productos/14 copia.jpg" alt="imagen-cookie" height="400px">
                </div> -->

                <div class="catering-presupuesto">
                    <h3>Presupuestá tu evento</h3>
                    <h4>y sorprendete con sabores inimagibles</h4>
                    <a href="/images/CATERING.pdf" class="menu-button-descargar">Descargar</a>
                </div>

                <!-- <div class="catering-imagen">
                    <img src="/images/footage/productos/18 copia.jpg" alt="imagen-cookie" height="400px">
                </div> -->
            </div>
        </section>
    </main>
    <!-- FOOTER -->
    <footer>
        <div class="container-logo-span-footer">
            <img class="logo-footer" src="/images/icons/AstroBite.gif" alt="" height="70"><span class="logo-span-footer">NeoBite BakerShop</span>
            <div class="contacto">
                <ul>
                    <li><i class="bi bi-envelope"></i>
                        <a href="mailto:neobite@gmail.com">neobite@gmail.com</a></li>
                    <li><i class="bi bi-globe-americas"></i>
                        <a href="">www.neobite.com</a></li>
                    <li><i class="bi bi-c-circle"></i><span>2024 - Natalia Scuzarello</span></li>                
                </ul>
            </div>
        </div>
    </footer>    
    <script src="/js/main.js"></script>
</body>
</html>