<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- boostrap icon -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

    <!-- link css -->
    <link rel="stylesheet" href="../css/style.css">

    <!-- favicon -->
    <link rel="icon" href="../favicon.ico">
    <!-- para opera y modzila es sin punto el favicon -->
    <link rel="icon" href="../images/favicon.ico">


    <!-- google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=MuseoModerno:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">

    <!-- titulo pag -->
    <title>Menú</title>
</head>

<body>
    <header>
        <!-- GIF -->
        <div class="container-logo-span">
            <img class="logo" src="../images/icons/AstroBite.gif" alt="" height="70"><span class="logo-span">NeoBite
                BakeShop</span>
        </div>
        <button id="abrir" class="abrir-menu"><i class="bi-list"></i></button>
        <!-- barra navegacion -->
        <nav class="nav" id="nav">
            <button id="cerrar" class="cerrar-menu"><i class="bi bi-x"></i></button>
            <ul class="nav-list">
                <li><a href="../index.html">Inicio</a></li>
                <li><a href="../templates/menu.html">Menú</a></li>
                <li><a href="../templates/catering.html">Catering</a></li>
                <li><a href="../templates/contacto.html">Contacto</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <!-- SLIDER BACKGROUND -->
        <section>
            <div class="container-imag-background">
                <img class="c-b-i" src="../images/footage/catering_slider/catering_slider1.jpg" alt="catering-slider">
                <img class="c-b-i" src="../images/footage/catering_slider/catering_slider2.jpg" alt="catering-slider">
                <img class="c-b-i" src="../images/footage/catering_slider/catering_slider3.jpg" alt="catering-slider">
                <img class="c-b-i" src="../images/footage/catering_slider/catering_slider4.jpg" alt="catering-slider">
                <h1 class="heading">Descubrinos</h1>
                <!-- Contenedor del botón "Menú" -->
                <div class="menu-button-container">
                    <a href="../templates/catering.html" class="menu-button">Catering</a>
                </div>
            </div>
        </section>

        <!-- MENU -->
        <section id="menu-dulce" class="contenedor">
            <!-- torta1 -->
            <div class="torta">
                <div class="imagen-contenedor">
                    <!--imagen torta 1  -->
                    <img src="../images/footage/productos/1.jpg" alt="Cookie Neural" class="imagenes-menu">
                </div>
                <!-- titulo torta 1 -->
                <h3 class="titulo-torta">Cookie Neural</h3>
                <!-- descripcion torta 1 -->
                <p class="descrip-torta">Combina chips de circuitos dulces con trozos de gelatina ácida.</p>
            </div>

            <!-- torta2 -->
            <div class="torta">
                <div class="imagen-contenedor">
                    <!--imagen torta 2  -->
                    <img src="../images/footage/productos/3.jpg" alt="Cyber-Chip Cookies" class="imagenes-menu">
                </div>
                <!-- titulo torta 2 -->
                <h3 class="titulo-torta">Cyber-Chip Cookies</h3>
                <!-- descripcion torta 2 -->
                <p class="descrip-torta">Mezcla fragmentos de silicio con perlas de wasabi para un sabor chispeante.</p>
            </div>

            <!-- torta3 -->
            <div class="torta">
                <div class="imagen-contenedor">
                    <!--imagen torta 3  -->
                    <img src="../images/footage/productos/4copia.jpg" alt="Nano-Mint Delight" class="imagenes-menu">
                </div>
                <!-- titulo torta 3 -->
                <h3 class="titulo-torta">Nano-Mint Delight</h3>
                <!-- descripcion torta 3 -->
                <p class="descrip-torta">Incorpora nanobots de menta con copos de azúcar extraterrestres.</p>
            </div>

            <!-- torta 4 -->
            <div class="torta">
                <div class="imagen-contenedor">
                    <!--imagen torta 4  -->
                    <img src="../images/footage/productos/2.jpg" alt="Glowing Byte Bites" class="imagenes-menu">
                </div>
                <!-- titulo torta 4 -->
                <h3 class="titulo-torta">Glowing Byte Bites</h3>
                <!-- descripcion torta 4 -->
                <p class="descrip-torta">Agrega microLEDs comestibles y polvo de meteorito para brillo.</p>
            </div>

            <!-- torta 5 -->
            <div class="torta">
                <div class="imagen-contenedor">
                    <!--imagen torta 5  -->
                    <img src="../images/footage/productos/5.jpg" alt="Alien Almond Amazements" class="imagenes-menu">
                </div>
                <!-- titulo torta 5 -->
                <h3 class="titulo-torta">Alien Almond Amazements</h3>
                <!-- descripcion torta 5 -->
                <p class="descrip-torta">Incorpora almendras galácticas con ralladura de limón cósmico y cristales de
                    azúcar.</p>
            </div>

            <!-- torta 6 -->
            <div class="torta">
                <div class="imagen-contenedor">
                    <!--imagen torta 6  -->
                    <img src="../images/footage/productos/16.jpg" alt="Quantum Crunch" class="imagenes-menu">
                </div>
                <!-- titulo torta 6 -->
                <h3 class="titulo-torta">Quantum Crunch</h3>
                <!-- descripcion torta 6 -->
                <p class="descrip-torta"> Integra partículas cuánticas de caramelo con cristales de sal alienígena.</p>
            </div>

            <!-- torta 7 -->
            <div class="torta">
                <div class="imagen-contenedor">
                    <!--imagen torta 7  -->
                    <img src="../images/footage/productos/17.jpg" alt="Viral Vanilla Fusion" class="imagenes-menu">
                </div>
                <!-- titulo torta 7 -->
                <h3 class="titulo-torta">Viral Vanilla Fusion</h3>
                <!-- descripcion torta 7 -->
                <p class="descrip-torta">Fusiona extracto de virus con vainilla y granos de café espaciales.</p>
            </div>

            <!-- torta 8 -->
            <div class="torta">
                <div class="imagen-contenedor">
                    <!--imagen torta 8  -->
                    <img src="../images/footage/productos/18.jpg" alt="Data Drip Cookies" class="imagenes-menu">
                </div>
                <!-- titulo torta 8 -->
                <h3 class="titulo-torta">Data Drip Cookies</h3>
                <!-- descripcion torta 8 -->
                <p class="descrip-torta"> Infunde gotas de información digital con trufas de chocolate orgánico.</p>
            </div>

            <!-- torta 9 -->
            <div class="torta">
                <div class="imagen-contenedor">
                    <!--imagen torta 9  -->
                    <img src="../images/footage/productos/9.jpg" alt="Plasma Peanut Butter Surprise"
                        class="imagenes-menu">
                </div>
                <!-- titulo torta 9 -->
                <h3 class="descrip-torta">Plasma Peanut Butter Surprise</h3>
                <!-- descripcion torta 9 -->
                <p class="descrip-torta"> Sorprende con plasma de maní y cáscara de energía de fusión.</p>
            </div>

            <!-- torta 10 -->
            <div class="torta">
                <div class="imagen-contenedor">
                    <!--imagen torta 10  -->
                    <img src="../images/footage/productos/10.jpg" alt="Transistor Toffee Treats" class="imagenes-menu">
                </div>
                <!-- titulo torta 10 -->
                <h3 class="descrip-torta">Transistor Toffee Treats</h3>
                <!-- descripcion torta 10 -->
                <p class="descrip-torta">Prepara toffees con transistores de frutas y cristales de azúcar.
                </p>
            </div>

            <!-- torta 11 -->
            <div class="torta">
                <div class="imagen-contenedor">
                    <!--imagen torta 11  -->
                    <img src="../images/footage/productos/11copia.jpg" alt="Robo-Raisin Rendezvous"
                        class="imagenes-menu">
                </div>
                <!-- titulo torta 11 -->
                <h3 class="descrip-torta">Robo-Raisin Rendezvous</h3>
                <!-- descripcion torta 11 -->
                <p class="descrip-torta"> Mezcla pasas cibernéticas con caramelo líquido y virutas de titanio.</p>
            </div>

            <!-- torta 12 -->
            <div class="torta">
                <div class="imagen-contenedor">
                    <!--imagen torta 8  -->
                    <img src="../images/footage/productos/12.jpg" alt="Cybernetic Caramel Cookies"
                        class="imagenes-menu">
                </div>
                <!-- titulo torta 8 -->
                <h3 class="titulo-torta">Cybernetic Caramel Cookies</h3>
                <!-- descripcion torta 8 -->
                <p class="descrip-torta">Agrega caramelos con sabor a circuito y escamas de titanio.</p>
            </div>

            <!-- torta 13 -->
            <div class="torta">
                <div class="imagen-contenedor">
                    <!--imagen torta 8  -->
                    <img src="../images/footage/productos/13copia.jpg" alt="Nanotech Nutella Nibbles"
                        class="imagenes-menu">
                </div>
                <!-- titulo torta 8 -->
                <h3 class="titulo-torta">Nanotech Nutella Nibbles</h3>
                <!-- descripcion torta 8 -->
                <p class="descrip-torta">Fusiona Nutella con nanorobots y trozos de chocolate crujiente.</p>
            </div>

            <!-- torta 14 -->
            <div class="torta">
                <div class="imagen-contenedor">
                    <!--imagen torta 8  -->
                    <img src="../images/footage/productos/14.jpg" alt="Quantum Quinoa Crunchies" class="imagenes-menu">
                </div>
                <!-- titulo torta 8 -->
                <h3 class="titulo-torta">Quantum Quinoa Crunchies</h3>
                <!-- descripcion torta 8 -->
                <p class="descrip-torta">Incorpora quinoa cuántica con chips de chocolate y pétalos de flores
                    intergalácticas.</p>
            </div>

            <!-- torta 15 -->
            <div class="torta">
                <div class="imagen-contenedor">
                    <!--imagen torta 8  -->
                    <img src="../images/footage/productos/15copia.jpg" alt="Biohazard Brownie Bites"
                        class="imagenes-menu">
                </div>
                <!-- titulo torta 8 -->
                <h3 class="titulo-torta">Biohazard Brownie Bites</h3>
                <!-- descripcion torta 8 -->
                <p class="descrip-torta">Usa brownies con extracto de plutonio y chispas de plutonio.</p>
            </div>

            <!-- torta 16 -->
            <div class="torta">
                <div class="imagen-contenedor">
                    <!--imagen torta 8  -->
                    <img src="../images/footage/productos/16.jpg" alt="Vortex Vodka Vanilla Visions"
                        class="imagenes-menu">
                </div>
                <!-- titulo torta 8 -->
                <h3 class="titulo-torta">Vortex Vodka Vanilla Visions</h3>
                <!-- descripcion torta 8 -->
                <p class="descrip-torta">Combina vodka de vórtice con vainilla y fragmentos de cristales dimensionales.
                </p>
            </div>

            <!-- torta 17 -->
            <div class="torta">
                <div class="imagen-contenedor">
                    <!--imagen torta 8  -->
                    <img src="../images/footage/productos/17.jpg" alt="Galactic Gingerbread Gems" class="imagenes-menu">
                </div>
                <!-- titulo torta 8 -->
                <h3 class="titulo-torta">Galactic Gingerbread Gems</h3>
                <!-- descripcion torta 8 -->
                <p class="descrip-torta"> Hornea galletas de jengibre con polvo de estrellas y especias alienígenas.</p>
            </div>

            <!-- torta 18 -->
            <div class="torta">
                <div class="imagen-contenedor">
                    <!--imagen torta 8  -->
                    <img src="../images/footage/productos/1.jpg" alt="Neon Nectarine Nibblers" class="imagenes-menu">
                </div>
                <!-- titulo torta 8 -->
                <h3 class="titulo-torta">Neon Nectarine Nibblers</h3>
                <!-- descripcion torta 8 -->
                <p class="descrip-torta">Crea galletas con néctar de nectarina fluorescente y chips de limón
                    cibernético.</p>
            </div>

            <!-- torta 19 -->
            <div class="torta">
                <div class="imagen-contenedor">
                    <!--imagen torta 8  -->
                    <img src="../images/footage/productos/18.jpg" alt="Cyber-Cactus Crunchies" class="imagenes-menu">
                </div>
                <!-- titulo torta 8 -->
                <h3 class="titulo-torta">Cyber-Cactus Crunchies</h3>
                <!-- descripcion torta 8 -->
                <p class="descrip-torta">Mezcla trozos de cactus digital con almendras tostadas y chips de circuito
                    salados.</p>
            </div>

            <!-- torta 20 -->
            <div class="torta">
                <div class="imagen-contenedor">
                    <!--imagen torta 8  -->
                    <img src="../images/footage/productos/19.jpg" alt="Robot Raspberry Revelations"
                        class="imagenes-menu">
                </div>
                <!-- titulo torta 8 -->
                <h3 class="titulo-torta">Robot Raspberry Revelations</h3>
                <!-- descripcion torta 8 -->
                <p class="descrip-torta">Galletas de frambuesa con chispas de acero inoxidable y extracto de circuito.
                </p>
            </div>

            <!-- torta 21 -->
            <div class="torta">
                <div class="imagen-contenedor">
                    <!--imagen torta 8  -->
                    <img src="../images/footage/productos/20copia.jpg" alt="Cyber-Raspberry" class="imagenes-menu">
                </div>
                <!-- titulo torta 8 -->
                <h3 class="titulo-torta">Cyber Spark Raspberry Cookie</h3>
                <!-- descripcion torta 8 -->
                <p class="descrip-torta">Galleta de frambuesas con chispas de acero corroído y añejado en aceites.</p>
            </div>

            <!-- torta 22 -->
            <div class="torta">
                <div class="imagen-contenedor">
                    <!--imagen torta 8  -->
                    <img src="../images/footage/productos/8.jpg" alt="Robot Raspberry Revelations"
                        class="imagenes-menu">
                </div>
                <!-- titulo torta 8 -->
                <h3 class="titulo-torta">Robot Apple Revelations</h3>
                <!-- descripcion torta 8 -->
                <p class="descrip-torta">Galletas de manzanas ácidas con aceites de circuitos levemente tóxicos.</p>
            </div>

            <!-- torta 23 -->
            <div class="torta">
                <div class="imagen-contenedor">
                    <!--imagen torta 8  -->
                    <img src="../images/footage/productos/9copia.jpg" alt="Robot Raspberry Revelations"
                        class="imagenes-menu">
                </div>
                <!-- titulo torta 8 -->
                <h3 class="titulo-torta">Metalic Onions Revelations</h3>
                <!-- descripcion torta 8 -->
                <p class="descrip-torta">Cookies de cebolla caramelizada y tuercas oxidadas.</p>
            </div>

            <!-- torta 24 -->
            <div class="torta">
                <div class="imagen-contenedor">
                    <!--imagen torta 8  -->
                    <img src="../images/footage/productos/10copia.jpg" alt="Robot Raspberry Revelations"
                        class="imagenes-menu">
                </div>
                <!-- titulo torta 8 -->
                <h3 class="titulo-torta">Futuristic Lemon Delight</h3>
                <!-- descripcion torta 8 -->
                <p class="descrip-torta">Galletas de limón dulce con pepas agrias de semillas secas.</p>
            </div>
        </section>
    </main>
    <!-- FOOTER -->
    <footer>
        <div class="container-logo-span-footer">
            <img class="logo-footer" src="../images/icons/AstroBite.gif" alt="" height="70"><span
                class="logo-span-footer">NeoBite BakerShop</span>
            <div class="contacto">
                <ul>
                    <li><i class="bi-envelope"></i>
                        <a href="mailto:neobite@gmail.com">neobite@gmail.com</a>
                    </li>
                    <li><i class="bi-globe-americas"></i>
                        <a href="">www.neobite.com</a>
                    </li>
                    <li><i class="bi-c-circle"></i><span>2024 - Natalia Scuzarello</span></li>
                </ul>
            </div>
        </div>
    </footer>
    <script src="/js/main.js"></script>
    <script src="../js/main.js"></script>    
</body>

</html>